<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}">Product Name</title>
    <!-- Agrega referencias a tu CSS aquí -->
    <link rel="stylesheet" href="path/to/your/css/file.css" />
</head>
<body>
    <div class="product-details">
        <h2 th:text="${product.name}">Nombre del Producto</h2>

        <!-- Asegúrate de que la URL de la imagen es accesible y correcta -->
        <img th:if="${product.imageUrl}" th:src="${product.imageUrl}" alt="Imagen del Producto" />

        <!-- Descripción del producto -->
        <p th:text="${product.description}">Descripción del producto</p>

        <!-- Lista de características clave del producto -->
        <div th:if="${product.keyFeatures}">
            <h3>Características Clave:</h3>
            <ul>
                <li th:each="feature : ${product.keyFeatures}" th:text="${feature.description}">Característica</li>
            </ul>
        </div>
    </div>
</body>
</html>
